/* 画像サイズ変更用 */

/* level-1(最縮小サイズ)の書き方 [* [画像ファイル]] */
.level-1 img { width: 16.7%; max-height: none; }
.level-2 img { width: 33.3%; max-height: none; }
.level-3 img { width: 50%; max-height: none; }
.level-4 img { width: 66.7%; max-height: none; }
.level-5 img { width: 83.3%; max-height: none; }
.level-6 img { width: 100%; max-height: none; }
/* level-6(元サイズ)の書き方 [****** [画像ファイル]] */


/* フキダシ記法版 */ 
.line:not(.cursor-line) .deco-\{ { 
display: inline-block; position: relative; max-width: calc(100% - 4em);
line-height: 1; color: #000 !important; background-color: rgba(190, 213, 248, 0.85); 
padding: 5px 6px 4px 7px; margin-left: .6em;
border-radius: .4em; border-bottom-left-radius: 0 }
.line:not(.cursor-line) .deco-\{::after {
display: block; /* reduce the damage in FF3.0 */
position: absolute; bottom: 0; left: -0.45em;
width: 0; content: '';
border-width: 0 0 .5em .5em; border-style: solid; border-color: rgba(190, 213, 248, 0.85) transparent }


/* 二重括弧による強調をマーカーっぽくする */
.line strong:not([class]) { 
background: linear-gradient(transparent 50%, rgba(243, 116, 139, 0.35) 25%, rgba(243, 116, 139, 0.35) 70%, transparent 90%);
}

/* アイコンサイズを大きくする */
.line img.icon { height: 2.5em; top: -0.2em }